<!-- Footer -->
<footer class="page-footer font-small footer-dark  bg-dark">
        <div style="color: white" class="container text-center text-md-left">
          <div class="row">
            <div class="col-md-4 mx-auto">
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">TABBER</h5>
              <p>Keep a Tab, Be Fab ❤️ </p>
            </div>
        <hr class="clearfix w-100 d-md-none">
                
            <hr class="clearfix w-100 d-md-none">
      
            <div class="col-md-2 mx-auto" style="text-align: center;">
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Github</h5>
              <a target="_blank" href="https://github.com/mandeepsidhu2/"><fa-icon style="color: white"  class="fa-2x" [icon]="faGithub"></fa-icon></a>
            </div>
            <!-- <div class="col-md-2 mx-auto"  style="text-align: center;">
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Buy me a Coffee</h5>
                <a target="_blank" href="https://www.buymeacoffee.com/tabber/"><fa-icon style="color: white;"  class="fa-2x" [icon]="faCoffee"></fa-icon></a>
            </div> -->
            <div class="col-md-2 mx-auto" style="text-align: center;">
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact Us</h5>
                    <h5>tabberonline@gmail.com</h5>
            </div>
            <hr class="clearfix w-100 d-md-none">
      
          </div>
          <!-- Grid row -->
      
        </div>
        <!-- Footer Links -->
      

      
      </footer>
      <!-- Footer -->