<div style="margin-top: 80px;">
  <div *ngIf=loggedIn class="button-container" style="margin-bottom: 30px">
      <div class="toggle">
          <h1 style="font-weight:bold;margin-bottom: 10px;">Easy</h1>
          <button (click)="increaseLevels('easy',1)" type="button" class="btn btn-outline-success ">+</button>
          <h1>{{userData?.easy}}</h1>
          <button (click)="decreaseLevels('easy')" type="button" class="btn btn-outline-danger ">-</button>
        </div>
      <div class="toggle">
          <h1 style="font-weight:bold;margin-bottom: 10px;">Medium</h1>
          <button (click)="increaseLevels('medium',2)" type="button" class="btn btn-outline-success ">+</button>
          <h1 >{{userData?.medium}}</h1>
          <button (click)="decreaseLevels('medium')" type="button" class="btn btn-outline-danger ">-</button>
      </div>
      <div class="toggle">
          <h1 style="font-weight:bold;margin-bottom: 10px;">Difficult</h1>
          <button (click)="increaseLevels('difficult',3)" type="button" class="btn btn-outline-success ">+</button>
          <h1 >{{userData?.difficult}}</h1>
          <button (click)="decreaseLevels('difficult')"  type="button" class="btn btn-outline-danger ">-</button>
      </div>
      <div class="break"></div> 
      <div class="toggle">
        <h1 style="font-size:50px; margin-top: 20%">{{now |date :"H:mm:ss"}}</h1>
        <h1 style="font-size:36px; margin-top: 10%">{{now |date :"d MMM"}}</h1>
      </div>
  </div>
  <div class="example-container" style="overflow-x:auto;" >
    <app-interactive></app-interactive>
    

  <mat-form-field (keydown)="keyDownFunction($event)" class="example-full-width">
    <mat-label>Enter name or email</mat-label>
    <input [(ngModel)]="forminput" matInput>
  </mat-form-field>


<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th style="text-align: center" mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td style="text-align: center" mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-description">
            <google-chart id="txt1"
            [title]="title"
               [type]="type"
               [data]="graphCollect[element['email']]"
               [width]="width"
               [height]="height"
               [options]="options"
               [columns]="columnNames"
               >
               
            </google-chart>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>  
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
    <div class="paginator">
      <mat-paginator [length]="lengthTable"
      [pageIndex]="pageIndexTable"
      [pageSize]="pageSizeTable"
      [pageSizeOptions]="[1,2,3,5, 10, 25, 100]"
      (page)="getServerData($event)" showFirstLastButtons></mat-paginator>
    </div>
 </div>
</div>