<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" >Tabber</a>
    <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home"  routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/about"  routerLinkActive="active">About <span class="sr-only">(current)</span></a>
          </li>
          <li  class="nav-item active">
              <a target="_blank" href="https://www.buymeacoffee.com/tabber/"><img src="../../assets/bmc-button.png"></a>                
         </li> 
      </ul>
    
      <div  class="mt-2 mt-md-0">
        <ul *ngIf=!loggedIn class=" navbar-nav mr-auto">
          <li  class="nav-item">
               <button type="button" style="color: white" (click)="signInWithGoogle()" class="btn btn-outline-success">
                  <fa-icon style="color: white"  [icon]="faGoogle"></fa-icon>
                  &nbsp;Login
              </button>                
          </li> 
        </ul>
      </div>
      <div *ngIf=loggedIn class="mt-2 mt-md-0">
        <ul  class="nav navbar-nav mr-auto">
          <li class="nav-item" >
            <h2 style="color: white; margin-right: 2em">{{user.name}}</h2>
          </li>
          <li  class="nav-item" >
                  <button type="button" (click)="signOut()" class="btn btn-outline-danger">Logout</button>                
          </li> 
        </ul>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>
<app-footer></app-footer>