
<div  style="margin-bottom: 3%;margin-top: 5%;margin-left: 3%;" >
<div class="row" >
    <!-- <div class="row col-lg-5 col-12" style="margin-bottom: 3%">
        <iframe class="col-lg-12 col-12" height="150" scrolling="no" frameborder="no"   [attr.src]="currentSong"></iframe> 
        <span class="col-lg-2 col-2"></span>
        <span class="col-lg-4 col-4"><button   (click)="previousSong()" type="button" class="btn btn-outline-primary ">Previous</button></span>
        <span class="col-lg-4 col-2"><button   (click)="nextSong()" type="button" class="btn btn-outline-primary ">Next</button></span>
        <span class="col-lg-2 col-4"></span>
    </div> -->
    <div class="col-lg-12 col-12" (click)="displayWarning()"style="margin-left: 2%;;margin-bottom: 5%;border:1px solid black;position:relative;height:25vw;"class="fixed">
        <div class="chatHistory" #chathistory [style.width]='chatWindowWidth' style="height:87%; overflow:auto;"></div>
        <input *ngIf=loggedIn (keydown)="sendMessage($event)" [(ngModel)]="message" style="width:100%;position: absolute;left:0;bottom:0;" type="text" id="fname" name="fname">
        <div *ngIf=loggedIn style="position: absolute;right:0;bottom:0;">
            <fa-icon  (click)='sendMessage(null)' style="color:green;margin: 10px;"  class="fa-lg" [icon]="faPaperPlane"></fa-icon>
        </div>
    </div> 
</div>
</div>
