
  .example-container.mat-elevation-z8 {    
    overflow-x: auto;
  }
  .example-container .mat-table.mat-table {
    min-width: 450px;
  }
  .fixed{
    height: 200px;
      overflow-y: scroll;
  }
 
  fa-icon{
   cursor: pointer; 
  }