.example-card {
    max-width: 80%;
  }
mat-card{
    margin-left: 10%;
    margin-top: 3%;
}
  
.example-header-image {
background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
background-size: cover;
}
fa-icon{
    cursor: pointer; 
    font-size: 1.5em
}
fa-icon:hover{ 
    font-size: 2em; transition: 0.1s ease-out;
  }