<notifier-container></notifier-container>
<div style="margin-top: 80px;height: 80%">
    <div>
        <div style="margin-left: 3%;margin-right:45%;  display: flex;justify-content:space-between;"class="top-bar">
            <button (click)="writePost()"type="button"class="btn btn-outline-primary">Create Post</button>
            <h1 style="font-family:'Courier New', Courier, monospace;font-size: 2.5em">Post Trends</h1>
        </div>
        <div *ngIf="writingPost" style="display: flex;flex-direction: column;width: 80%;margin-left: 10%;margin-top: 3%;"class="post-form">
            <mat-form-field appearance="fill">
                <mat-label>Title</mat-label>
                <input [formControl]="postTitle" matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Content</mat-label>
                <textarea [formControl]="postContent" matInput></textarea>
            </mat-form-field>
            <div style="display: flex; justify-content:space-evenly;">
                <button (click)="cancelWritePost()" style="width:15%"type="button"class="btn btn-outline-danger">Cancel</button>
                <button (click)="createPost()" style="width:15%"type="button"class="btn btn-outline-primary">Post</button>
            </div>
        </div>
        <span *ngFor="let post of posts">
            <mat-card class="example-card">
                    <mat-card-header style="margin-bottom: 3%">
                    <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + post.picture_url + ')', 'background-size': 'cover'  }"></div>
                    <mat-card-title>{{post.username}}</mat-card-title>
                    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                    </mat-card-header>
                    <mat-card-title>{{post.title}}</mat-card-title>
                    <mat-card-content>
                    <p>{{post.content}} </p>
                    </mat-card-content>
                    <mat-card-actions>
                            <fa-icon (click)="openSnackBar()" style="color: black"class="fa-2x" [icon]="faShieldAlt"></fa-icon>
                    </mat-card-actions>
            </mat-card>
        </span>
      </div>
</div>